<form action="/daily-changes-update" method="POST">
    <label for="date">Date   :</label>
    <input type="date" id="date" name="date" value="{{ current_date }}" required>
    <br>
    <select name="open">
        <option>Open</option>
    </select>
    <input type="text" name="open"><br>
    <select name="close">
        <option>High</option>
        <option>Low</option>
    </select>
    <input type="text" name="close"><br>
    <select name="high">
        <option>High</option>
        <option>Low</option>
    </select>
    <input type="text" name="high"><br>
    <select name="low">
        <option>Close</option>
    </select>
    <input type="text" name="low">
    <button>Submit</button>
</form>
<form action="/get-daily-changes" method="GET">
    <button>View</button>
</form>
<button onclick="location.href='/'">Home</button>
<button onclick="location.href='/get-daily-update'">Get Market Updates</button>
<button onclick="location.href='/buckets'">Buckets</button>
<button onclick="location.href='/items'">Items</button>
<button onclick="location.href='/market-update'">Market Update</button>
<button onclick="location.href='/invo_tasks'">Tasks</button>
<button onclick="location.href='/daily_changes'">DailyChanges</button>
<button onclick="location.href='/watchlist'">WatchList</button>

