<!DOCTYPE html>
96<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Manager</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h1 class="mb-4">Task List</h1>        
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Bucket Name</th>                    
                    <th>Owner</th>
                    <th>Date</th>
                    <th>Status</th>
                    <th>Remarks</th>
                </tr>
            </thead>
            <tbody>
                {% for task in tasks %}
                <tr>
                    <td>{{ task[0] }}</td>
                    <td>{{ task[1] }}</td>
                    <td>{{ task[2] }}</td>
                    <td>{{ task[3] }}</td>                    
                    <td>{{ task[4] }}</td>
                    <td>{{ task[5] }}</td>
                    <td>
                        <form action="/daily-task-update" method="POST">
                            <select name="status_update">
                                <option value="{{ task[6] }}">{{ task[6] }}</option>
                                <option value="{% if task[6] == 'Open' %}Done{% elif task[6] == 'Done' %}Open{% else %}Done{% endif %}">
                                    {% if task[6] == 'Open' %}
                                        Done
                                        {% elif task[6] == 'Done' %}
                                            Open
                                        {% else %}
                                        Done
                                    {% endif %}
                                </option>
                            </select>
                            <input type="hidden" name="update_task_id" value="{{ task[0] }}">
                            <button type="submit">Update</button>
                        </form>
                    </td>                    
                    <td>{{ task[7] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <br>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <button onclick="location.href='/'">Home</button>
    <button onclick="location.href='/get-daily-update'">Get Market Updates</button>
    <button onclick="location.href='/buckets'">Buckets</button>
<button onclick="location.href='/items'">Items</button>
<button onclick="location.href='/market-update'">Market Update</button>
<button onclick="location.href='/invo_tasks'">Tasks</button>
<button onclick="location.href='/daily_changes'">DailyChanges</button>
<button onclick="location.href='/watchlist'">WatchList</button>
</body>
</html>

