<!DOCTYPE html>
<html>
<head>
    <title>Buckets</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid #ddd;
            padding: 8px;
        }
        th {
            background-color: #f4f4f4;
            text-align: left;
        }
    </style>
</head>
<body>
    <h1>Buckets</h1>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Duration</th>
            </tr>
        </thead>
        <tbody>
            {% for bucket in buckets %}
            <tr>
                <td>{{ bucket[0] }}</td>
                <td>{{ bucket[1] }}</td>
                <td>{{ bucket[2] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <button onclick="location.href='/buckets'">Buckets</button>
    <button onclick="location.href='/items'">Items</button>
    <button onclick="location.href='/market-update'">Market Update</button>
    <button onclick="location.href='/invo_tasks'">Tasks</button>
    <button onclick="location.href='/daily_changes'">DailyChanges</button>
    <button onclick="location.href='/watchlist'">WatchList</button>
</body>
</html>

