<form action="/buy-sell-insert" method="POST">
    <label>Script:</label><input type="text" name="script" value="{{ name }}">
    <label>Bucket:</label><input type="text" name="bucket" value="{{ bucket }}">
    <label>Exchange:</label><input type="text" name="exchange" value="BSE">
    <label>Count</label><input type="text" name="sc_cnt">
    <label>Price</label><input type="text" name="sc_price">
    <input type="hidden" name="script_code" value="{{ script_code }}">
    <input type="hidden" name="bucket_id" value="{{ bucket_id }}">
    <button name="{{ btn_action }}">{{ btn_action }}</button>
</form>


