<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Entries</title>
</head>
<body>
    <h1>Market Update</h1>
    <form action="/daily_changes" method="POST">
        <label for="date">Date:</label>
        <input type="date" id="date" name="date" value="{{ current_date }}" required>
        <br><br>

        <table border="1">
            <thead>
                <tr>
                    <th>Open</th>
                    <th>High</th>
                    <th>Low</th>
                    <th>Close</th>
                </tr>
            </thead>
            <tbody>
                {% for indicator in indicators %}
                <tr>
                    <td>{{ indicator[0] }}</td>
                    <td>{{ indicator[1] }}</td>
                    <td>{{ indicator[2] }}</td>
                    <td>{{ indicator[3] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <br>
        <button type="submit">Get</button>
    </form>
    <button onclick="location.href='/'">Home</button>
    <button onclick="location.href='/buckets'">Buckets</button>
    <button onclick="location.href='/items'">Items</button>
    <button onclick="location.href='/market-update'">Market Update</button>
    <button onclick="location.href='/invo_tasks'">Tasks</button>
    <button onclick="location.href='/daily_changes'">DailyChanges</button>
    <button onclick="location.href='/watchlist'">WatchList</button>
</body>
</html>

