<style>
    .popup {
        display: none;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: white;
        padding: 20px;
        border: 1px solid #ccc;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        z-index: 1000;
    }
    .overlay {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 999;
    }
</style>

<div id="popupForm" class="popup">
    <form action="/insert-inv-cust" method="POST">
        <label>Mobile:</label>
        <input type="text" id="pCustMob" name="pCustMob" required><br>
        <label for="name" id="pCustnamelbl">Customer Name:</label>
        <input type="text" id="pCustName" name="pCustName" required><br>
        <label for="location">Location:</label>
        <input type="text" id="pCustLoc" name="pCustLoc" required>
        <input type="submit" value="Create">
        <button type="button" onclick="hidePopup()" >Cancel</button>
    </form>
</div>

<div id="successPopupForm" class="popup">
    <form action="/inv-sell-transaction">
        <label id="successPopupForm">Success</label>
        <button type="button" onclick="hideSuccessPopup()" >Ok</button>
    </form>
</div>

<div id="errPopupForm" class="popup">
    <form>
        <label id="errpopuptxt"></label>
        <button type="button" onclick="hideErrPopup()" >Ok</button>
    </form>
</div>

<div>
    <input type="date" id="tr_date" name="tr_date" value="{{ current_date }}" required><br>
    <label>Mobile:</label>
    <input type="text" id="mobile" value="{{ inv_cust_mob }}"><button onclick="getUser()">Search</button>
    <input type="hidden" id="cust_id" value="{{ inv_cust_id }}" ><br>
    <label>Name</label>
    <input type="text" id="custname" value="{{ inv_cust_name }}" readonly><br>
    <input type="text" id="itemcnt" value="0" hidden="true">
    <table id="myTable">
        <tr><th>Item</th><th>Quantity</th><th>Price</th><th>Cost</th></tr>
        {% for i in [1,2,3,4,5,6,7,8,9,10] %}
        <tr  style="display:none;" id="row_{{ i }}">
            <td>
                <select name="items_{{ i }}" id="items_{{ i }}">
                    <option disabled>Items</option>
                    {% for item in items %}
                    <option value="{{ item[0] }}">{{ item[1] }}</option>
                    {% endfor %}
                </select>
            </td>
            <td>
                <input type="text" name="qty_{{ i }}" id="qty_{{ i }}" onchange="updateTotal({{ i }})" oninput="updateTotal({{ i }})" value="0">
            </td>
            <td>
                <input type="text" name="price_{{ i }}" id="price_{{ i }}" onchange="updateTotal({{ i }})" oninput="updateTotal({{ i }})" value="0">
            </td>
            <td>
                <input type="text" name="cost_{{ i }}" id="cost_{{ i }}" readonly="true" value="0">
                
            </td>
        </tr>
        {% endfor %}
        <td></td><td></td><td>Total Cost</td><td><input type="text" id="totalcost" readonly="true"></td>
    </table>
    <button type="button" onclick="addRow()" >Add</button>   

    <button onclick="sell()">Submit</button>

<button onclick="location.href='/home'">Home</button>
</div>
<iframe src="{{ url_for('static', filename='bill_reciept.pdf') }}" width="100%" height="600px" style="display:block;"></iframe>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script>
    function updateTotal(i){
        console.log("arg:"+i)
        var qty = document.getElementById("qty_"+i).value
        var price = document.getElementById("price_"+i).value
        var cost = document.getElementById("cost_"+i)
        cost.value = parseInt(price) * parseInt(qty)
        var totcost = 0;
        for (const rc of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]) {
            console.log("rc:"+rc)
            totcost = totcost + parseInt(document.getElementById("cost_"+rc).value);
        }
        console.log("totcost:"+totcost)
        // TODO here cost is summing up but cost_6 textbox value is not setting to totcost
        var totcosttxt = document.getElementById("totalcost")
        totcosttxt.value = totcost;
    }
function getUser() {
    var mobno = document.getElementById('mobile').value;
    console.log("in ajax call")
    $.ajax({
        type: 'POST',
        url: '/inv-load-transaction',
        data: JSON.stringify({ 'mobile': mobno}), 
        headers: {
        "Content-Type": "application/json"
        }, 
        dataType: 'json',
        success: function(response){
            
            if (response.cust_id == -1){
                console.log("Customer Not Available")
                showPopup()
            }else{
                console.log("Customer Available")
                document.getElementById('custname').value = response.custname;
                document.getElementById('cust_id').value = response.cust_id;   
            }
        } 
    });
}
function addRow(){
    var itemcntval = document.getElementById("itemcnt").value
    itemcnt = parseInt(itemcntval) + 1
    console.log("items_"+itemcnt)
    document.getElementById("row_"+itemcnt).style.display = 'table-row'; 
    document.getElementById("itemcnt").value = itemcnt

}

function delRow(){
    var itemcntval = document.getElementById("itemcnt").value
    for (let i = 1; i <= itemcntval; i++) {
		document.getElementById("items_"+i).selectedIndex = 0;
		document.getElementById("qty_"+i).value = 0;
		document.getElementById("price_"+i).value = 0;
		document.getElementById("cost_"+i).value = 0;
		document.getElementById("totalcost").value = "";
		document.getElementById("mobile").value = "";
		document.getElementById("cust_id").value = "";
		document.getElementById("custname").value = "";
		document.getElementById("itemcnt").value = "";
		document.getElementById("row_"+i).style.display = 'none';
    }
    itemcnt = parseInt(itemcntval) + 1
    console.log("items_"+itemcnt)
         

}

function showPopup(){    
    var pCustMob = document.getElementById("pCustMob");
    var tempmob = document.getElementById("mobile");
    pCustMob.value = tempmob.value
    pCustMob.readOnly = true
    document.getElementById("popupForm").style.display = "block"
}


function hidePopup(){
    document.getElementById("popupForm").style.display = "none"
}
function showErrPopup(){    
    document.getElementById("errPopupForm").style.display = "block"
}

function hideErrPopup(){    
    document.getElementById("errPopupForm").style.display = "none"
}

function showSuccessPopup(){    
    document.getElementById("successPopupForm").style.display = "block"
}

function hideSuccessPopup(){    
    document.getElementById("successPopupForm").style.display = "none"
}


function resetSale(){
    var itemcntval = document.getElementById("itemcnt").value
    let qty = [];
    let price = [];
    let cost = [];
    let items = [];
    
    console.log("Values list")
    for (let i = 1; i <= itemcntval; i++) {
      console.log("resetting ")
      $('#qty_' + i).val() = 
      price.push($('#price_' + i).val());
      cost.push($('#cost_' + i).val());
      items.push($('#items_'+ i).val());
    }
}

function sell() {
    //First get the total items count form itemcnt
    var itemcntval = document.getElementById("itemcnt").value
    let qty = [];
    let price = [];
    let cost = [];
    let items = [];
    
    console.log("Values list")
    for (let i = 1; i <= itemcntval; i++) {
        console.log("ItemVal:")
        console.log($('#items_'+ i).val())
        console.log($('#qty_' + i).val())
      qty.push($('#qty_' + i).val());
      price.push($('#price_' + i).val());
      cost.push($('#cost_' + i).val());
      items.push($('#items_'+ i).val());
    }
    let data = {
      qty: qty,
      price: price,
      cost: cost,
      items: items
    };
        console.log(data)
	var cust_id =	 document.getElementById('cust_id').value;
	var custname =  document.getElementById('custname').value;
	var tr_date =  document.getElementById('tr_date').value;
    var tot_cost =  document.getElementById('totalcost').value;
    
        $.ajax({
            type: 'POST',
            url: '/inv-submit-transaction',
            data: JSON.stringify({ 'itemscnt':itemcntval, 'cust_id': cust_id, 'custname': custname, "totcost": tot_cost, 
                                    "tr_date": tr_date, 'data': data }),
            headers: {
                    "Content-Type": "application/json"
                    },
            dataType: 'json',
            success: function(response){
                        if (response.retval == "success"){
                            console.log("in ajax response");
							delRow()
                            showSuccessPopup()
                            //resetSale();
                        }
                        if (response.retval == "noresource"){
                            errpopelement = document.getElementById("errpopuptxt")
                            errpopelement.textContent = response.msg
                            showErrPopup()
                        }
                    }
            
        });
    }
</script>

