<!DOCTYPE html>
<html>
<head>
    <title>Inventory Entry</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<body>
    <h1>Generated Bills</h1>
    <button onclick="location.href='/home'">Home</button>
    <table border="1" cellpadding="10">
        <thead>
            <tr>
                <th>RecieptNo.</th>
                <th>Date</th>
                <th>Amount</th>
                <th>Quantity</th>
                <th>Name</th>
                <th>Mobile</th>
            </tr>
        </thead>
        <tbody>
            {% for entry in entries %}
            <tr id="row-{{ entry[4] }}">
                <td><span class="editable" contenteditable="false">{{ entry[0] }}</span></td>
                <td><span class="editable" contenteditable="false">{{ entry[1] }}</span></td>
                <td><span class="editable" contenteditable="false">{{ entry[2] }}</span></td>
                <td><span class="editable" contenteditable="false">{{ entry[3] }}</span></td>
                <td><span class="editable" contenteditable="false">{{ entry[4] }}</span></td>
                <td><span class="editable" contenteditable="false">{{ entry[5] }}</span></td>
                <td><span class="editable" contenteditable="false"><a href="/static/{{ entry[0] }}_bill_reciept.pdf" target="_blank">Open</a></span></td>
                
            </tr>
            {% endfor %}
        </tbody>
    </table>


<script>
    $(document).ready(function() {
        $('.edit-btn').on('click', function() {
            const recieptid = $(this).data('id');
            console.log("ROWID")
            console.log(recieptid)
            $.ajax({
                url: '/inv-sale-reciepts',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({ recieptid: recieptid}),
                success: function(response) {
                    if (response.status === 'success') {
                        alert('Reciept generated successfully!');
                    }
                }
            });
           
        });
    });

    $(document).ready(function() {
        $('.del-btn').on('click', function() {
            const rowId = $(this).data('id');
            console.log("ROWID")
            console.log(rowId)
            const row = $(`#row-${rowId}`);
            console.log("ROW")
            console.log(row)
                // Send AJAX request to update data
            $.ajax({
                url: '/inv-entry-delete',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({rowid: rowId}),
                success: function(response) {
                    console.log();
                        location.reload();
                }
            });
        });
    });
</script>
</body>
</html>
