<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index Page</title>
</head>
<body>
    <h1>Welcome {{ name }} to the Inventory System</h1>
    <button onclick="location.href='/get-daily-update'">Get Market Updates</button>
    <button onclick="location.href='/buckets'">Buckets</button>
    <button onclick="location.href='/items'">Items</button>
    <button onclick="location.href='/market-update'">Market Update</button>
    <button onclick="location.href='/invo_tasks'">Tasks</button>
    <button onclick="location.href='/daily_changes'">DailyChanges</button>
    <button onclick="location.href='/watchlist'">WatchList</button>
    <button onclick="location.href='/job_daily_task_creation'">UpdateJobs</button>
    <button onclick="location.href='/create-task'">Create Task</button>
    <button onclick="location.href='/get-bucket-summary'">Get Bucket Details</button>
    <button onclick="location.href='/get-study-notes'">Get Notes</button>
    <button onclick="location.href='/trackers'">Trackers</button>
</body>
</html>

