<!DOCTYPE html>
<html>
<head>
    <title>Items</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid #ddd;
            padding: 8px;
        }
        th {
            background-color: #f4f4f4;
            text-align: left;
        }
    </style>
</head>
<body>
    <h1>Items</h1>
    <form action="/buy-sell-load" method="POST"><table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Bucket</th>
                <th>Count</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
            <tr>
                <td>{{ item[1] }}</td>
                <td>{{ item[2] }}</td>
                <td>{{ item[3] }}<input type="hidden" name="bid_{{ item[0] }}" value="{{ item[3] }}"></td>
                <td>{{ item[4] }}</td>
                <td>
                    <button type="submit" name="action" value="buy_{{ item[0] }}">Buy</button>
                    <button type="submit" name="action" value="sell_{{ item[0] }}">Sell</button>
                </td>
                
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </form>
    <button onclick="location.href='/items'">Items</button>
    <button onclick="location.href='/'">Home</button>
    <button onclick="location.href='/get-daily-update'">Get Market Updates</button>
<button onclick="location.href='/market-update'">Market Update</button>
<button onclick="location.href='/invo_tasks'">Tasks</button>
<button onclick="location.href='/daily_changes'">DailyChanges</button>
<button onclick="location.href='/watchlist'">WatchList</button>

</body>

</html>


