<!DOCTYPE html>
<html>
<head>
    <title>Items</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid #ddd;
            padding: 8px;
        }
        th {
            background-color: #f4f4f4;
            text-align: left;
        }
    </style>
</head>
<body>
    <h1>Items</h1>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Bucket ID</th>
                <th>Count</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
            <tr>
                <td>{{ item[0] }}</td>
                <td>{{ item[1] }}</td>
                <td>{{ item[2] }}</td>
                <td>{{ item[3] }}</td>
                <td><button>Buy</button><button>Sell</button></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <button onclick="location.href='/items'">Items</button>
<button onclick="location.href='/market-update'">Market Update</button>
<button onclick="location.href='/invo_tasks'">Tasks</button>
<button onclick="location.href='/daily_changes'">DailyChanges</button>
<button onclick="location.href='/watchlist'">WatchList</button>

</body>
</html>

