<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Inventory</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>

<select id="category" name="category">
    {% for category in categories %}
    <option value="{{ category[0] }}">{{ category[0] }}</option>
    {% endfor %}
</select>

<form id="myForm" action="/add-item-details" method="POST">
    <input type="hidden" id="tagCnt" name="tagCnt" value="{{ tagCnt }}"></input>
    {% for tag in tags %}
       <label>{{ tag[0] }}</label><input type="hidden" id="tag{{ forloop.index }}" name="tag{{ forloop.index }}" value="{{ tag }}"></input>
    {% endfor %}
    <input type="submit" value="Submit">
</form>
<script>
    $(document).ready(function() {
        $('#category').on('change', function() {
            var category_id = $(this).val();
            console.log("test print")
            $.ajax({
                type: 'POST',
                url: '/add-item'
            });
        });
</script>

</body>
</html>


