<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        img {
            height: 50px;
            width: 50px;
        }
    </style>
</head>

<body>
    <h1>customer Details</h1>
    {% if cust_data %}
    <p>Customer No: {{ cust_data[1] }}</p>
    <p>Problem: {{ cust_data[2] }}</p>
    <p>Remarks: {{ cust_data[3] }}</p>
    

    {% else %}
    <p>No customer found</p>
    {% endif %}
</body>

</html>