<form action="/daily-changes-update" method="POST">
    <label for="date">Date   :</label>
    <input type="date" id="date" name="date" value="{{ current_date }}" required>
    <br>
    <select name="s_open">
        <option>Open</option>
    </select>
    <input type="text" name="t_open"><br>

    <select name="s_ch1">
        <option value="tr_high">High</option>
        <option value="tr_low">Low</option>
    </select>
    <input type="text" name="t_ch1"><br>

    <select name="s_ch2">
        <option value="tr_high">High</option>
        <option value="tr_low">Low</option>
    </select>
    <input type="text" name="t_ch2"><br>

    <select name="s_close">
        <option>Close</option>
    </select>
    <input type="text" name="t_close">

    <button>Submit</button>
</form>
<button onclick="location.href='/'">Home</button>
<button onclick="location.href='/get-daily-update'">Get Market Updates</button>
<button onclick="location.href='/buckets'">Buckets</button>
<button onclick="location.href='/items'">Items</button>
<button onclick="location.href='/market-update'">Market Update</button>
<button onclick="location.href='/invo_tasks'">Tasks</button>
<button onclick="location.href='/daily_changes'">DailyChanges</button>
<button onclick="location.href='/watchlist'">WatchList</button>

