<label>Script</label><input type="text"/><button onclick="location.href='/script_list'">Search</button>
 <style>
    table {
        width: 100%;
        border-collapse: collapse;
    }
    th, td {
        border: 1px solid #ddd;
        padding: 8px;
    }
    th {
        background-color: #f4f4f4;
        text-align: left;
    }
</style>
<form action="/buy-sell" method="POST">
    <table>
        <thead><tr>
            <th>Script</th>
            <th>Action</th>
            <th>Name</th>
            <th>Holding</th>
            <th>Buckets</th>
            <th>Remarks</th>
        </thead></tr>
        <tbody>
            {% for script in scripts %}
            <tr>
                <td>{{ script[0] }}</td>
                <td><button>Buy</button><button>Sell</button></td>
                <td>{{ script[1] }}</td>
                <td>{{ script[2] }}</td>
                <td>{{ script[3] }}</td>
                <td><input type="text" aria-multiline="true"/></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</form>
<button onclick="location.href='/items'">Items</button>
<button onclick="location.href='/market-update'">Market Update</button>
<button onclick="location.href='/invo_tasks'">Tasks</button>
<button onclick="location.href='/daily_changes'">DailyChanges</button>
<button onclick="location.href='/watchlist'">WatchList</button>
